.container{
    margin-top: 11%;
}
.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
/* For color */
body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(
      45deg,
      rgb(162, 96, 181),
      rgb(102, 197, 212),
      rgb(209, 24, 175)
    );
}
.colMid{
    background-color: white;
}
.colMid2{
    margin-left:25px;
    width: 440px;
    background-color: white;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 109px;
}
span{
    max-width: 7vw;
    /* margin: 1px 66px; */
}
#task{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    border-radius: 20px;
}
#task div{
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    margin-left: 5px;
}
input[type="checkbox"]:checked+span{
    text-decoration: line-through;
}
/* Responsive */
@media screen and (min-width: 319px) and (max-width: 321px) {
    h1{
        margin-right: 31px;
    }
    #task div {
        justify-content: space-around;
        margin-right: 85px;
        margin-left: 97px;
    }
    #task {
        margin-right: 1px;
    }
    span{
        white-space: nowrap;
    }
}
@media screen and (min-width: 374px) and (max-width: 376px) {
    h1{
        margin-right: 31px;
    }
    #task div {
        justify-content: space-around;
        margin-right: 85px;
        margin-left: 97px;
    }
    #task {
        margin-right: 1px;
    }
    span{
        white-space: nowrap;
    }
}
@media screen and (min-width: 424px) and (max-width: 426px) {
    h1{
        margin-right: 31px;
    }
    #input{
            width: 197px;
    }
    #btnSort{
        margin-left: 30px;
    }
    #btnClear{
        margin-left: 132px;
    }
    #task div {
        justify-content: space-around;
        margin-right: 85px;
        margin-left: 97px;
    }
    #task {
        margin-right: 1px;
    }
    span{
        white-space: nowrap;
    }
}
@media screen and (min-width: 767px) and (max-width: 769px) {
    h1{
        margin-right: 31px;
    }
    #input{
            width: 197px;
    }
    #btnSort{
        margin-left: 30px;
    }
    #btnClear{
        margin-left: 132px;
    }
    #task div {
        justify-content: space-around;
        margin-right: 85px;
        margin-left: 97px;
    }
    #task {
        margin-right: 1px;
    }
    span{
        white-space: nowrap;
    }
}