.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 109px;
}
span{
    max-width: 7vw;
    margin: 1px 66px;
}
#task{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 109px;
    min-width: none;
}
input[type="checkbox"]:checked+span{
    text-decoration: line-through;
}
/* Responsive */
@media screen and (min-width: 1px) and (max-width: 3px) {
    body{
        background-color: pink;
    }
}